* {
    font-family: 'Roboto Condensed', sans-serif;
}

/* header */

.header .navbar {
    background: #008276;
}

.navbar-nav {
    margin-right: 100%;
}

.navbar-nav ul {
    padding: 0;
    padding-top: 4px;
}

.navbar-nav .icon {
    margin-left: 60px;
    padding: 2px 0;
}

.nav-item a::after {
    content: '';
    display: block;
    margin: auto;
    height: .125rem;
    width: 0;
    background: 0;
    transition: width .5s ease,background-color .5s ease;
}

.nav-item a:hover:after {
    width: 100%;
    background: #e7e4e4;
}

.navbar-dark .navbar-nav .nav-link {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    text-transform: capitalize;
    font-weight: 400;
}

.navbar-brand {
    visibility: hidden;
}

/* search */

.main_search form {
    width: 100%;
    margin: 25px auto 10px auto;
    padding: 0 15px;
}

textarea:focus, input:focus, button:focus {
    outline: none !important;
}

.btn {
    margin: 20px 0;
}

.search-btn-wrapper {
    width: 100%;
    text-align: center;
}

.form-group {
    margin-bottom: 0;
}

.btn:focus, .form-control:focus, .btn:active, .form-control:active {
    box-shadow: none !important;
}

#show-dialog {
    margin-left: 5px;
}

.card.col-md-4 .card-img-top, .card.col-md-4 .card-body .card-title {
    cursor: pointer;
}

/* banner */

.banner {
    height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1, .banner h4 {
    position: absolute;
    z-index: 2;
}

.banner h1 {
    top: 30%;
    color: #ffffffa3;    
    text-transform: uppercase;
}

.banner h4 {
    top: 52%;
    color: #ffffffbd;
}

.banner form {
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    
}

.banner form input {
    color: #fff;
    background-color: rgba(180,180,180,.3);
    border: none;
}

.banner .banner_header {
    font-family: 'Poiret One', cursive;
    position: absolute;
    color: white;
    z-index: 2;
    width: 100%;
    text-align: center;
    display: block !important;
}

.banner_header h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.banner img {
    width: 100%;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.47);
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
}

.sign-in-header {
    margin-top: 5%;
}

/*  */

.response_nothing {
    width: 100%;
    /* margin: 20px auto; */
    padding: 15px;
}

.col-md-5ths {
    width: 20%;
}

.card {
    box-shadow: none;
    margin: 5px 0;
}

.user-page .card {
    margin: 0;
}

.repos-group {
    margin-bottom: 0;
}

/* spinner */
.loading {
    margin: -30px auto 0px auto;
}

.fancy-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

.fancy-spinner div {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.fancy-spinner div.ring:nth-child(1) {
    border-left-color: #008276;
    border-right-color: #008276;
}

.fancy-spinner div.ring:nth-child(2) {
    border-top-color: #008276;
    border-bottom-color: #008276;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.fancy-spinner div.ring {
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent;
    -webkit-animation: 2s fancy infinite alternate;
    animation: 2s fancy infinite alternate;
}

.fancy-spinner div.dot {
    width: 1rem;
    height: 1rem;
    background: #009688;
}

.user-page {
    margin-top: 5%;
}

.icon-wrap {
    margin-bottom: 2px;
}

.icon {
    margin-right: 8px;    
}

.heading, .table-data {
    padding: 10px;
    text-align: center;
    border: 1px solid #008276;
}

.heading {
    background: #009688;
    color: white;
}

.table-data {
    border: 1px solid #008276;
}

.table-indent {
    margin-bottom: 20px;
}

@keyframes fancy {
    to {
        transform: rotate(360deg) scale(0.5);
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto!important;
    }
}